body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  background-color: #ffffff;
}

.top-container {
  background-color: #f4f6ff;
  position: relative;
  padding-top: 100px;
}

.top-container-template
{
  background-color:#f4f6ff ;
}

.moutain {
  width: 400px;
  height: 200px;
}

h1 {
  color: #303960;
  font-size: 7.625rem;
  margin: 50px auto 50px auto;
  font-family: 'Sacramento', cursive;
  font-weight: normal;
}

#programmer {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

h2 {
  color: #303960;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 10px;
}

h3 {
  color: #424874;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
  font-family: 'Comfortaa', cursive;
}

.intro {
  width: 30%;
  margin: 0 auto;

}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile_img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.code_img {
  width: 22%;
  float: left;
  margin-right: 30px;

}

.soccer_img {
  width: 22%;
  float: right;
  margin-right: 30px;
}


.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;

}


hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  width: 5%;
  color: #dddddd;
  margin: 100px auto;
}

.contact-me {
  margin: 100px auto;
}

.contact-me-description {
  width: 40%;
  margin: 40px auto 60px;

}

.copyright {
  color: #07031a;
}

.middle-container {
  margin: 100px auto;
}

.myButton {
	box-shadow:inset 0px 1px 3px 0px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:4px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px -1px 0px #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}


.bottom-container {
  background-color: #f4f6ff;
  padding: 50px 0 20px;
  
}

a {
  text-decoration: none;
  color: #303960;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 10px;
}

a:hover {
  color: #1b262c;
  text-decoration: none;
}

.copyright {
  font-size: 0.75rem;
  padding: 20px 0px;
}

#profile_img {
  width: 80px;
  height: 80px;
}

/* css của navbar tự code */
/* .navbar{
  position: relative;
  height: 100px;
  background-color:#f4f6ff ;

}
.navbar-brand{
  position: relative;
  bottom: 20px;
  left: 200px;
} */

/* #menu li{
  display: inline;
  margin-right: 20px ;
}
#menu{
  position: relative;
  right: 280px;
  position: fixed;
} */

.footer-img {
  width: 50px;
  height: 50px;
}
.h1-template
{
  margin: 0 auto 5 auto;
  display: inline-block;
}
html{
  background-color: #f4f6ff;
}
iframe{
  margin: 10px;
}
/* .share-pic{
  width: 100%;
  height: 100%;
  float: left;
}
.middle-container-share{
  margin: 30px auto 30px auto;
  width: 900px;
}
.share-pic-description{
  padding: 0 20px;
  text-align: left;
}
.middle-container-share table{
  margin: 0 auto;
  width: 600px;
}
.share-pic-link{
  width: 100%;
  height: 100%;
  float: left;
} */

/* .post-img{
  width: 300px;
  margin-right: 350px;
  float: left;
  display: inline-block;
  clear: both;
}
.post
{
  width: 50%;
  margin: 20px auto;
}
.post h3
{
  margin-left: 350px;
}
.post-description
{
  text-align: left;
  margin-left: 350px;
} */

/* .post-description
{
  text-align: left;
  margin-top: 20px;
} */
/* .post-description h3{
  padding: 0;
} */

/* .post{
  display: inline-block;
} */
/* .post-description h3, p
{
  position: relative;
  bottom: 60px;
  text-align: left;
} */

.post-img
{
  width: 400px;
  height: 300px;
  
}
.post{
  margin: 20px auto;
  width: 400px;
}
.post-description
{
  text-align: left;
}
.post-link{
  margin: 0;
}


